MRI_data/AssadiSurface_197_X.npy
MRI_data/AssadiSurface_1402_disconnected.npy
MRI_data/AssadiSurface_1402_X.npy
MRI_data/AssadiSurface_2552_X.npy
MRI_data/Birdcage_197_X.npy
MRI_data/Birdcage_1402_disconnected.npy
MRI_data/Birdcage_1402_X.npy
MRI_data/Birdcage_2552_X.npy
MRI_data/Birdcage2nd_197_TG50.npy
MRI_data/Birdcage2nd_1402_TG50.npy
MRI_data/Birdcage2nd_2552_TG50-disconnected.npy
MRI_data/Birdcage2nd_2552_TG50.npy
MRI_data/BirdcageEnh_197_TG50-60deg.npy
MRI_data/BirdcageEnh_197_TG50-120deg.npy
MRI_data/BirdcageEnh_197_TG50.npy
MRI_data/BirdcageEnh_197_X.npy
MRI_data/BirdcageEnh_1402_disconnected.npy
MRI_data/BirdcageEnh_1402_TG50.npy
MRI_data/BirdcageEnh_1402_X.npy
MRI_data/BirdcageEnh_2552_TG50.npy
MRI_data/BirdcageEnh_2552_X.npy
MRI_data/OrigSurface_197_X.npy
MRI_data/OrigSurface_1402_disconnected.npy
MRI_data/OrigSurface_1402_X.npy
MRI_data/OrigSurface_2552_X.npy
MRI_data/QuadratureCoil_197_60deg.npy
MRI_data/QuadratureCoil_197_120deg.npy
MRI_data/QuadratureCoil_197_X.npy
MRI_data/QuadratureCoil_1402_disconnected.npy
MRI_data/QuadratureCoil_1402_TG41.npy
MRI_data/QuadratureCoil_1402_X.npy
MRI_data/QuadratureCoil_2552_TG41.npy
MRI_data/QuadratureCoil_2552_X.npy
MRI_data/SingleLoop_197_X.npy
MRI_data/SingleLoop_1402_disconnected.npy
MRI_data/SingleLoop_1402_X.npy
MRI_data/SingleLoop_2552_artifacts-TG121.npy
MRI_data/SingleLoop_2552_X.npy
MRI_data/AssadiSurface_X_optimizer.txt
MRI_data/Birdcage_X_optimizer.txt
MRI_data/Birdcage2nd_X_optimizer.txt
MRI_data/BirdcageEnh_X_optimizer.txt
MRI_data/OrigSurface_X_optimizer.txt
MRI_data/QuadratureCoil_X_optimizer.txt
MRI_data/SingleLoop_X_optimizer.txt
